.main {
  background: white;
  width: 100%;
  touch-action: none;

  svg {
    background: white;
  }
}

$infoHeight: 45px;
.buttons {
  display: flex;
  height: $infoHeight;

  > * {
    flex: 1;
  }
}

.penInfo {
  flex: 4;
  display: flex;

  label {
    width: 128px;
    color: black;
  }
  input {
    flex: 1;
  }
}
.penSize {
  width: 90%;
  margin-top: ($infoHeight - 12px)/2;
  height: 12px;

  vertical-align: middle;

  -webkit-appearance: none;
  appearance: none;
  background-color: #c0c0c0;
  border-radius: 6px;

  &:focus,
  &:active {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.7);
    width: 22px;
    height: 22px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  &:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    transition: 0.4s;
  }
}
