.waku {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > img {
    width: 100%;
    pointer-events: none;
  }
}

.image {
  display: block;
  position: absolute;
  top: 7.5%;
  left: 6.8%;
  right: 6%;
  bottom: 7.8%;
  overflow: hidden;
  background-color: white;
  border-radius: 5%;
  > img {
    width: 100%;
  }
}
.canvas {
  position: relative;
  box-sizing: border-box;
  &:after {
    content: "";
    display: block;
    padding-top: 90%;
  }
}
