.App {
  text-align: center;
  max-width: 75vh;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #b2ebf2;

  > .header {
    flex: 0 0 1rem;
  }

  > .content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
  }
}
